.fire {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    overflow: hidden;
    pointer-events: none;
    
    z-index: -1;

    font-family: "IBM Plex Mono";
    font-size: clamp(10px, 1.35vw, 18px);
    line-height: 0.85;
    letter-spacing: 1px;
    user-select: none;
    white-space: pre;
    user-select: none;    

    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: unset;
    text-rendering: optimizeSpeed;
    transform-origin: center center;
    transform: scale(min(calc(100vw / 850), calc(100vh / 420)));

    color: #111;

    text-shadow: 
    0 -2px 8px rgba(255, 204, 0, 0.2), 
    0 -6px 12px #ff3700, 
    -3px -14px 25px #e62200, 
    3px -25px 35px #cc1100, 
    -2px -40px 55px #990000, 
    0 -60px 80px #4a0000;
}

@media (prefers-reduced-motion: reduce) {
    .fire {
        display: none;
    }
}

